body{
  background: #F15A29;
}
.btn{
  background-image: url(landing.jpg);
  background-size: cover;
  padding: 3.2em;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  color: aliceblue;
  font-family: Cambria ;
}
.happy{
  width: 415px;
  height: 100px;
  margin:7px auto;
  background: azure;
  position: absolute;
}
.happy h1{
  color: gray;
  text-align: center;
  font-size: 30px;
}
.party{
  width: 415px;
  height: 100px;
  margin: 24px auto;
  background: azure;
  position: absolute;
  top: 600px;
}
.party h1{
  text-align: center;
  color: gray;
  font-size: 30px;
}
.breakfast{
  width: 400px;
  height: 205px;
  margin: 7px auto;
  background: honeydew;
  position: fixed;
  right: 800px;
  background-image: url(breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.breakfast h1{
  text-align: center;
  font-size: 30px;
  position: relative;
  color: white;
  transform: translateY(160%);
}
.lunch :hover{
   background-color: honeydew;
   justify-content: space-evenly;
}
.lunch{
  width: 399px;
  height: 205px;
  margin: 7px auto;
  background: honeydew;
  position: fixed;
  right: 400px;
  background-image: url(lunch.jpg);
}.lunch h1{
  text-align: center;
  font-size: 30px;
  position: relative;
  color: white;
  transform: translateY(160%);

}
.dinner{
  width: 396px;
  height: 205px;
  margin: 7px auto;
  background: honeydew;
  position: fixed;
  right: 0;
  background-image: url(dinner.jpg);
}
.dinner h1{
  text-align: center;
  font-size: 30px;
  position: relative;
  color: white;
  transform: translateY(160%);
}


